.root{
	-fx-font-family: courier-new;
	-fx-font-size: 11pt;
	-fx-background-color: white;
}
#year{
	-fx-font-family: sans-serif;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 22pt;
	-fx-effect:dropshadow(gaussian, black, 2, 2, 2, 2);
}
#changeButton:hover{
	-fx-effect:dropshadow(gaussian, grey, 2, 2, 2, 2);
}